@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

:root {
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
    --clr-dark: hsl(230, 35%, 7%);
    --clr-light: hsl(231, 77%, 90%);
    --clr-white: hsl(0, 0%, 100%);
    --white-with-alpha: hsla(hsl(0, 0%, 100%), 0.05);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-sans-normal);
    min-height: 100vh;
    color: var(--clr-white);
}


/* Home Starts */

.home {
    min-height: 100vh;
    background: url(./assets/home/background-home-desktop.jpg) no-repeat center/cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 2rem 2rem;
    padding: 0 0 0 2rem;
}

.navbar {
    background: #ffffff0D;
    backdrop-filter: blur(1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    z-index: 1;
}

.navbar a {
    text-transform: uppercase;
    color: var(--clr-white);
    font-family: var(--ff-sans-cond);
    font-size: 18px;
    letter-spacing: 2px;
    margin-inline: 2rem;
    padding-block: 2rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.destination_nav a.active {
    color: var(--clr-white);
}

.navbar a.active::after,
.destination_nav a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--clr-white);
    bottom: 0;
    left: 0;
    transition: .3s;
    transform-origin: left;
}

.navbar a::after,
.destination_nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--clr-light);
    bottom: 0;
    left: 0;
    transition: .3s;
    transform-origin: left;
}

.navbar a:hover::after,
.destination_nav a:hover::after {
    width: 100%;
}

.navbar a span {
    font-weight: bold;
}

.hr {
    width: 38vw;
    z-index: 2;
    height: .5px;
    border: .5px solid #ffffff8a;
    position: absolute;
    left: 10rem;
}

.home_container {
    display: flex;
    align-items: end;
    padding: 8rem;
    justify-content: space-between;
}

.home_conInfo {
    width: 50%;
}

.home_conInfo h3 {
    font-size: 28px;
    font-family: var(--ff-sans-cond);
    font-weight: 300;
    letter-spacing: 4px;
    color: var(--clr-light);
}

.home_conInfo h1 {
    font-size: 140px;
    font-family: var(--ff-serif);
    font-weight: normal;
}

.home_conInfo p {
    font-size: 18px;
    letter-spacing: 1px;
    width: 75%;
    line-height: 1.5;
    color: var(--clr-light);
}

.home_conBtn {
    border-radius: 50%;
    background-color: var(--clr-white);
    color: black;
    font-family: var(--ff-serif);
    border: 1px solid var(--clr-white);
    width: 250px;
    height: 250px;
    cursor: pointer;
    font-size: 30px;
    text-transform: uppercase;
    margin-right: 5rem;
    transition: .2s ease;
}

.home_conBtn:hover {
    background-color: var(--clr-light);
    letter-spacing: 1.3px;
    border: 1px solid var(--clr-light);
}

/* Home Ends */

/* Destination-Moon Starts */

.destination {
    min-height: 100vh;
    background: url(./assets/destination/background-destination-desktop.jpg) no-repeat center/cover;
}

.destination_container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: 4rem 6rem;
}

.destination_container_pic {
    overflow: hidden;
    padding-bottom: 5rem;
}

.destination_container_pic h1 {
    font-family: var(--ff-sans-cond);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}

.destination_container_pic img {
    animation: spin 150s infinite linear;
}

.destination_container_pic h1 span {
    font-weight: bold;
    color: #666;
}

.destination_container_info {
    width: 50%;
}

@keyframes spin {
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.destination_nav {
    display: flex;
    gap: 2rem;
}

.destination_nav a {
    color: var(--clr-light);
    font-family: var(--ff-sans-cond);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 18px;
    position: relative;
    padding-bottom: .5rem;
}

.destination_container_info h1 {
    font-size: 100px;
    font-family: var(--ff-serif);
    font-weight: 400;
    margin-top: 2rem;
}

.destination_container_info p {
    font-size: 18px;
    color: var(--clr-light);
    line-height: 2;
    margin-block: 2rem;
    width: 80%;
}

.destination_footer {
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.hr2 {
    width: 80%;
    border: .1px solid #cccccc4f;
}

.des_footer h6 {
    font-size: 14px;
    padding-bottom: .5rem;
    font-weight: 400;
    color: var(--clr-light);
    font-family: var(--ff-serif);
}

.destination_footer span {
    font-size: 28px;
    font-family: var(--ff-serif);
}

/* Destination-Moon Ends */

/* Crew Starts */

.crew {
    min-height: 100vh;
    background: url('./assets/crew/background-crew-desktop.jpg') no-repeat center center /cover;
}

/* Crew Ends */